<div class="card m-4 border-0">

    <form [formGroup]="taskForm">

        <div class="form-row">
            <div class="form-group col-8">
                <label>Task Name</label>
                <input type="text" class="form-control" formControlName="taskName" placeholder="name"
                    [ngClass]="{ 'is-invalid': submitted && fval.taskName.errors }"
                    #taskName />
                <div *ngIf="submitted && fval.taskName.errors" class="invalid-feedback">
                    <div *ngIf="fval.taskName.errors.required">Task name is required</div>
                    <div *ngIf="fval.taskName.errors.taskName">Enter a valid task name </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-8">
                <label>Task Description</label>
                <input type="text" class="form-control" formControlName="taskDescription" placeholder="description"
                    [ngClass]="{ 'is-invalid': submitted && fval.taskDescription.errors }" #taskName />
                <div *ngIf="submitted && fval.taskDescription.errors" class="invalid-feedback">
                    <div *ngIf="fval.taskDescription.errors.required">Task name is required</div>
                    <div *ngIf="fval.taskDescription.errors.taskDescription">Enter a valid task description </div>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-8">
                <label>Priority </label>
                <select formControlName="priority" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && fval.priority.errors }">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
                <div *ngIf="submitted && fval.priority.errors" class="invalid-feedback">
                    <div *ngIf="fval.priority.errors.required">Task name is required</div>
                    <div *ngIf="fval.priority.errors.priority">select a priority value</div>
                </div>
            </div>
        </div>


        <div class="">
            <button type="submit" class="btn btn-primary mr-1" (click)="signup()">Add</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
        </div>
    </form>
</div>