#empGender {
    display: none;
}

#empEmail {
    display: none;
}

#empPassword {
    display: none;
}

#empContact {
    display: none;
}

#empVehicleName {
    display: none;
}

#empVehicleType {
    display: none;
}

#empVehicleNumber {
    display: none;
}

#empId {
    display: none;
}

#empVehicleIdentification {
    display: none;
}


