body {}

#empFieldset {
    margin: auto;
    width: 400px;
}

#empLegend {
    text-align: center;
}

#vehicleFieldset {
    width: 400px;
    margin: auto;
    display: none;
    background-color: green;
}

#vehicleLegend {
    text-align: center;
}

#parkingPrice {
    display: none;
}